
.Link_style{
    text-decoration: none;
    color:white;
    
    margin-right: 30px;
    font-weight: 700;
}

.navbarStyle{
    background-image: linear-gradient(to right, rgba(105, 5, 5, 0.966),rgba(107, 4, 4, 0.966));
    color: white;
}

.navbar-light{
    color: white;
}

.nav-link{
    color: white;
    font-weight: 700;
}

.nav-link:hover{
    color: blue;
}
